In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('C:/Users/abhil/OneDrive/Desktop/real_estate_project/Real_Estate_ML_Project/data/missing_value_imputation/missing_value_imputated_data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\m'
<>:1: SyntaxWarning: invalid escape sequence '\m'
C:\Users\abhil\AppData\Local\Temp\ipykernel_14900\3648955013.py:1: SyntaxWarning: invalid escape sequence '\m'
  df = pd.read_csv('C:/Users/abhil/OneDrive/Desktop/real_estate_project/Real_Estate_ML_Project/data/missing_value_imputation\missing_value_imputated_data.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3697 entries, 0 to 3696
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_type    3697 non-null   object
 1   society          3696 non-null   object
 2   sector           3697 non-null   object
 3   price            3697 non-null   float64
 4   price_per_sqft   3697 non-null   float64
 5   bedRoom          3697 non-null   int64
 6   bathroom         3697 non-null   int64
 7   balcony          3697 non-null   object
 8   floorNum         3697 non-null   float64
 9   agePossession    3697 non-null   object
 10  built_up_area    3697 non-null   float64
 11  study room       3697 non-null   int64
 12  servant room     3697 non-null   int64
 13  store room       3697 non-null   int64
 14  pooja room       3697 non-null   int64
 15  others           3697 non-null   int64
 16  furnishing_type  3697 non-null   int64
 17  luxury_score     3697 non-null   int64
dtypes: float64(4), int64(9), object(5)
memory usage: 520.0+ KB

In [13]:
new_df = pd.read_csv("C:/Users/abhil/OneDrive/Desktop/real_estate_project/Real_Estate_ML_Project/data/feature_selection/post_feature_selection_data.csv")

In [14]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3697 entries, 0 to 3696
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_type    3697 non-null   object
 1   sector           3697 non-null   object
 2   bedRoom          3697 non-null   int64
 3   bathroom         3697 non-null   int64
 4   balcony          3697 non-null   object
 5   agePossession    3697 non-null   object
 6   built_up_area    3697 non-null   float64
 7   servant room     3697 non-null   int64
 8   store room       3697 non-null   int64
 9   furnishing_type  3697 non-null   int64
 10  luxury_category  3697 non-null   object
 11  floor_category   3697 non-null   object
 12  price            3697 non-null   float64
dtypes: float64(2), int64(5), object(6)
memory usage: 375.6+ KB