In [1]:
import numpy as np
import pandas as pd
import ast
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import json
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("C:/Users/abhil/OneDrive/Desktop/Real_Estate_Project/Real_Estate_ML_Project/data/raw/appartments.csv").drop(22)

In [3]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [4]:
df['facilitiesStr'] = (df['TopFacilities'].apply(ast.literal_eval)).apply(' '.join)

In [5]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english',ngram_range=(1,2))

In [6]:
tfidf_matrix = tfidf_vectorizer.fit_transform(df['facilitiesStr'])

In [7]:
tfidf_matrix[0].toarray()

array([[0.        , 0.        , 0.        , 0.18809342, 0.18809342,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.16873099, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.27811185,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.17445059,
        0.17445059, 0.15589841, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.16355699, 0.29372893, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18084455, 0.18084455, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.17445059, 0.        , 0.        ,
        0.24773259, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.06440364, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.2659983 , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.12932284, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.21010446, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.16522746, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.25610081, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.15177345, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.21412748, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.14918792, 0.29372893, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.16355699, 0.16355699, 0.        , 0.        ,
        0.        , 0.06493586, 0.06493586, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ]])

In [8]:
cosine_sim1 = cosine_similarity(tfidf_matrix,tfidf_matrix)

In [9]:
cosine_sim1.shape

(246, 246)

In [10]:
def recommended_properties(property_name,cosie_sim=cosine_sim1):
    indx = df[df['PropertyName'] == property_name].index.tolist()[0]
    sim_scores = list(enumerate(cosine_sim1[indx]))
    sim_scores = sorted(sim_scores,key=lambda x:x[1],reverse=True)
    sim_scores = sim_scores[1:6]
    print(f'printing similiarity score->{sim_scores}')
    property_index = [i[0] for i in sim_scores]
    recommended_df = pd.DataFrame({
        "Property_Name" : df['PropertyName'].iloc[property_index],
        "similarity_score" : sim_scores
    })
    return recommended_df

In [11]:
recommended_properties("DLF The Arbour")

printing similiarity score->[(63, np.float64(0.551340635885514)), (92, np.float64(0.48399273152019534)), (216, np.float64(0.4791925565137415)), (18, np.float64(0.46907955257042044)), (62, np.float64(0.4160816171209393))]

            Property_Name           similarity_score
64        Ace Palm Floors    (63, 0.551340635885514)
93         JMS The Nation  (92, 0.48399273152019534)
217           Yashika 104  (216, 0.4791925565137415)
18   Whiteland Blissville  (18, 0.46907955257042044)
63      Vatika Aspiration   (62, 0.4160816171209393)

In [12]:
df_appartments = pd.read_csv("C:/Users/abhil/OneDrive/Desktop/Real_Estate_Project/Real_Estate_ML_Project/data/raw/appartments.csv").drop(22)

In [13]:
def refined_parse_modified_v2(detail_str):
    try:
        details = json.loads(detail_str.replace("'", "\""))
    except:
        return {}

    extracted = {}
    for bhk, detail in details.items():
        # Extract building type
        extracted[f'building type_{bhk}'] = detail.get('building_type')

        # Parsing area details
        area = detail.get('area', '')
        area_parts = area.split('-')
        if len(area_parts) == 1:
            try:
                value = float(area_parts[0].replace(',', '').replace(' sq.ft.', '').strip())
                extracted[f'area low {bhk}'] = value
                extracted[f'area high {bhk}'] = value
            except:
                extracted[f'area low {bhk}'] = None
                extracted[f'area high {bhk}'] = None
        elif len(area_parts) == 2:
            try:
                extracted[f'area low {bhk}'] = float(area_parts[0].replace(',', '').replace(' sq.ft.', '').strip())
                extracted[f'area high {bhk}'] = float(area_parts[1].replace(',', '').replace(' sq.ft.', '').strip())
            except:
                extracted[f'area low {bhk}'] = None
                extracted[f'area high {bhk}'] = None

        # Parsing price details
        price_range = detail.get('price-range', '')
        price_parts = price_range.split('-')
        if len(price_parts) == 2:
            try:
                extracted[f'price low {bhk}'] = float(price_parts[0].replace('₹', '').replace(' Cr', '').replace(' L', '').strip())
                extracted[f'price high {bhk}'] = float(price_parts[1].replace('₹', '').replace(' Cr', '').replace(' L', '').strip())
                if 'L' in price_parts[0]:
                    extracted[f'price low {bhk}'] /= 100
                if 'L' in price_parts[1]:
                    extracted[f'price high {bhk}'] /= 100
            except:
                extracted[f'price low {bhk}'] = None
                extracted[f'price high {bhk}'] = None

    return extracted

In [14]:
data_refined = []

for _, row in df_appartments.iterrows():
    features = refined_parse_modified_v2(row['PriceDetails'])
    
    # Construct a new row for the transformed dataframe
    new_row = {'PropertyName': row['PropertyName']}
    
    # Populate the new row with extracted features
    for config in ['1 BHK', '2 BHK', '3 BHK', '4 BHK', '5 BHK', '6 BHK', '1 RK', 'Land']:
        new_row[f'building type_{config}'] = features.get(f'building type_{config}')
        new_row[f'area low {config}'] = features.get(f'area low {config}')
        new_row[f'area high {config}'] = features.get(f'area high {config}')
        new_row[f'price low {config}'] = features.get(f'price low {config}')
        new_row[f'price high {config}'] = features.get(f'price high {config}')
    
    data_refined.append(new_row)

df_final_refined_v2 = pd.DataFrame(data_refined).set_index('PropertyName')

In [15]:
df_final_refined_v2['building type_Land']= df_final_refined_v2['building type_Land'].replace({'':'Land'})

In [16]:
df_final_refined_v2.shape

(246, 40)

In [17]:
categorical_columns = df_final_refined_v2.select_dtypes(include=['object']).columns.tolist()

In [18]:
categorical_columns

['building type_1 BHK',
 'building type_2 BHK',
 'building type_3 BHK',
 'building type_4 BHK',
 'building type_5 BHK',
 'building type_6 BHK',
 'building type_1 RK',
 'building type_Land']

In [19]:
ohe_df = pd.get_dummies(df_final_refined_v2,columns=categorical_columns,drop_first=True)

In [20]:
ohe_df.shape

(246, 43)

In [21]:
ohe_df.fillna(0,inplace=True)

In [22]:
ohe_df

,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,area low 3 BHK,area high 3 BHK,...,building type_2 BHK_Independent Floor,building type_2 BHK_Service Apartment,building type_3 BHK_Independent Floor,building type_3 BHK_Service Apartment,building type_3 BHK_Villa,building type_4 BHK_Independent Floor,building type_4 BHK_Villa,building type_5 BHK_Independent Floor,building type_5 BHK_Villa,building type_6 BHK_Villa
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,0.0,0.0,0.00,0.0000,1370.0,1370.0,2.0000,2.40,1850.0,2050.0,...,False,False,False,False,False,False,False,False,False,False
M3M Crown,0.0,0.0,0.00,0.0000,0.0,0.0,0.0000,0.00,1605.0,2170.0,...,False,False,False,False,False,False,False,False,False,False
Adani Brahma Samsara Vilasa,0.0,0.0,0.00,0.0000,0.0,0.0,0.0000,0.00,1800.0,3150.0,...,False,False,True,False,False,True,False,False,False,False
Sobha City,0.0,0.0,0.00,0.0000,1381.0,1692.0,1.5500,3.21,1711.0,2343.0,...,False,False,False,False,False,False,False,False,False,False
Signature Global City 93,0.0,0.0,0.00,0.0000,981.0,1118.0,0.9301,1.06,1235.0,1530.0,...,True,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLF Princeton Estate,0.0,0.0,0.00,0.0000,964.0,964.0,0.0000,0.00,1127.0,1127.0,...,False,False,False,False,False,False,False,False,False,False
Pyramid Urban Homes 2,335.0,398.0,23.45,0.2786,500.0,625.0,0.0000,0.00,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
Satya The Hermitage,0.0,0.0,0.00,0.0000,1450.0,1450.0,0.0000,0.00,1991.0,1991.0,...,False,False,False,False,False,False,False,False,False,False
BPTP Spacio,0.0,0.0,0.00,0.0000,1000.0,1079.0,0.0000,0.00,1225.0,1865.0,...,False,False,False,False,False,False,False,False,False,False
SS The Coralwood,0.0,0.0,0.00,0.0000,1320.0,1425.0,0.0000,0.00,1750.0,1890.0,...,False,False,False,False,False,False,False,False,False,False

In [23]:
scaler = StandardScaler()

ohe_df_normalized = pd.DataFrame(scaler.fit_transform(ohe_df),columns=ohe_df.columns,index=ohe_df.index)

In [24]:
ohe_df_normalized

,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,area low 3 BHK,area high 3 BHK,...,building type_2 BHK_Independent Floor,building type_2 BHK_Service Apartment,building type_3 BHK_Independent Floor,building type_3 BHK_Service Apartment,building type_3 BHK_Villa,building type_4 BHK_Independent Floor,building type_4 BHK_Villa,building type_5 BHK_Independent Floor,building type_5 BHK_Villa,building type_6 BHK_Villa
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,-0.252266,-0.169584,-0.105197,-0.082332,1.223499,1.020101,-0.173712,1.158423,0.553787,0.370864,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
M3M Crown,-0.252266,-0.169584,-0.105197,-0.082332,-0.893541,-0.896660,-0.283546,-0.387986,0.293086,0.472749,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
Adani Brahma Samsara Vilasa,-0.252266,-0.169584,-0.105197,-0.082332,-0.893541,-0.896660,-0.283546,-0.387986,0.500583,1.304803,...,-0.289310,-0.063888,2.683282,-0.063888,-0.171139,3.924283,-0.236208,-0.111111,-0.216353,-0.063888
Sobha City,-0.252266,-0.169584,-0.105197,-0.082332,1.240497,1.470610,-0.198425,1.680336,0.405879,0.619632,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
Signature Global City 93,-0.252266,-0.169584,-0.105197,-0.082332,0.622383,0.667529,-0.232468,0.295011,-0.100626,-0.070634,...,3.456497,-0.063888,2.683282,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLF Princeton Estate,-0.252266,-0.169584,-0.105197,-0.082332,0.596113,0.452068,-0.283546,-0.387986,-0.215547,-0.412795,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
Pyramid Urban Homes 2,1.565039,0.704171,9.593528,0.224987,-0.120899,-0.022226,-0.283546,-0.387986,-1.414772,-1.369658,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
Satya The Hermitage,-0.252266,-0.169584,-0.105197,-0.082332,1.347122,1.132029,-0.283546,-0.387986,0.703823,0.320771,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
BPTP Spacio,-0.252266,-0.169584,-0.105197,-0.082332,0.651744,0.612964,-0.283546,-0.387986,-0.111267,0.213793,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
SS The Coralwood,-0.252266,-0.169584,-0.105197,-0.082332,1.146235,1.097051,-0.283546,-0.387986,0.447378,0.235019,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888

In [25]:
cosine_sim2 = cosine_similarity(ohe_df_normalized)

In [26]:
cosine_sim2.shape

(246, 246)

In [27]:
type(cosine_sim2)

numpy.ndarray

In [28]:
def recommend_properties_with_scores(property_name):
    
    # Get the similarity scores for the property using its name as the index
    sim_scores = list(enumerate(cosine_sim2[ohe_df_normalized.index.get_loc(property_name)]))
    
    # Sort properties based on the similarity scores
    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the indices and scores of the top_n most similar properties
    top_indices = [i[0] for i in sorted_scores[1:6]]
    top_scores = [i[1] for i in sorted_scores[1:6]]
    
    # Retrieve the names of the top properties using the indices
    top_properties = ohe_df_normalized.index[top_indices].tolist()
    
    # Create a dataframe with the results
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore': top_scores
    })
    
    return recommendations_df

# Test the recommender function using a property name
recommend_properties_with_scores('M3M Golf Hills')

              PropertyName  SimilarityScore
0  AIPL The Peaceful Homes         0.955462
1       Smartworld One DXP         0.954670
2           Unitech Escape         0.953092
3              M3M Capital         0.951156
4               BPTP Terra         0.943128

In [29]:
df[['PropertyName','LocationAdvantages']]['LocationAdvantages'][0]

"{'Bajghera Road': '800 Meter', 'Palam Vihar Halt': '2.5 KM', 'DPSG Palam Vihar': '3.1 KM', 'Park Hospital': '3.1 KM', 'Gurgaon Railway Station': '4.9 KM', 'The NorthCap University': '5.4 KM', 'Dwarka Expy': '1.2 KM', 'Hyatt Place Gurgaon Udyog Vihar': '7.7 KM', 'Dwarka Sector 21, Metro Station': '7.2 KM', 'Pacific D21 Mall': '7.4 KM', 'Indira Gandhi International Airport': '14.7 KM', 'Hamoni Golf Camp': '6.2 KM', 'Fun N Food Waterpark': '8.8 KM', 'Accenture DDC5': '9 KM'}"

In [30]:
def distance_to_meters(distance_str):
    try:
        if 'Km' in distance_str or "KM" in distance_str:
            return float(distance_str.split()[0]) * 1000
        elif 'Meter' in distance_str or 'meter' in distance_str:
            return float(distance_str.split()[0])
        else:
            return None
    except:
        return None

In [31]:
# Extract distances for each location
location_matrix = {}
for index, row in df.iterrows():
    distances = {}
    for location, distance in ast.literal_eval(row['LocationAdvantages']).items():
        distances[location] = distance_to_meters(distance)
    location_matrix[index] = distances

# Convert the dictionary to a dataframe
location_df = pd.DataFrame.from_dict(location_matrix, orient='index')

# Display the first few rows
location_df.head()

,Bajghera Road,Palam Vihar Halt,DPSG Palam Vihar,Park Hospital,Gurgaon Railway Station,The NorthCap University,Dwarka Expy,Hyatt Place Gurgaon Udyog Vihar,"Dwarka Sector 21, Metro Station",Pacific D21 Mall,...,MCC Cricket Ground Dhankot,The Shri Ram School Aravali,Taj City Centre Gurugram,Minda Industries Corporate Office,"Rampura Flyover, Naurangpur Rd",Manesar toll plaza - Kherki Daula,"Imt Manesar, Gurugram",Holiday Inn,Sector 84 Road,Skyview Corporate Park
0,800.0,2500.0,3100.0,3100.0,4900.0,5400.0,1200.0,7700.0,7200.0,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,550.0,NaN,NaN,NaN,NaN,6700.0,3800.0,NaN,NaN,7500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,5300.0,NaN,NaN,NaN,2500.0,8800.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,1500.0,NaN,NaN,NaN,6500.0,6700.0,5100.0,NaN,NaN,8200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,5500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
location_df.head()

,Bajghera Road,Palam Vihar Halt,DPSG Palam Vihar,Park Hospital,Gurgaon Railway Station,The NorthCap University,Dwarka Expy,Hyatt Place Gurgaon Udyog Vihar,"Dwarka Sector 21, Metro Station",Pacific D21 Mall,...,MCC Cricket Ground Dhankot,The Shri Ram School Aravali,Taj City Centre Gurugram,Minda Industries Corporate Office,"Rampura Flyover, Naurangpur Rd",Manesar toll plaza - Kherki Daula,"Imt Manesar, Gurugram",Holiday Inn,Sector 84 Road,Skyview Corporate Park
0,800.0,2500.0,3100.0,3100.0,4900.0,5400.0,1200.0,7700.0,7200.0,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,550.0,NaN,NaN,NaN,NaN,6700.0,3800.0,NaN,NaN,7500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,5300.0,NaN,NaN,NaN,2500.0,8800.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,1500.0,NaN,NaN,NaN,6500.0,6700.0,5100.0,NaN,NaN,8200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,5500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
location_df.index = df.PropertyName

In [34]:
location_df.fillna(54000,inplace=True) #filling the missing values as we cannot scale wiht nun value also a large value is taken
#so that it will very unfamilier with other points and cosine similarity will come near to zero not affecting the process

In [35]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

location_df_normalized = pd.DataFrame(scaler.fit_transform(location_df),columns=location_df.columns,index=location_df.index)

In [36]:
location_df_normalized

,Bajghera Road,Palam Vihar Halt,DPSG Palam Vihar,Park Hospital,Gurgaon Railway Station,The NorthCap University,Dwarka Expy,Hyatt Place Gurgaon Udyog Vihar,"Dwarka Sector 21, Metro Station",Pacific D21 Mall,...,MCC Cricket Ground Dhankot,The Shri Ram School Aravali,Taj City Centre Gurugram,Minda Industries Corporate Office,"Rampura Flyover, Naurangpur Rd",Manesar toll plaza - Kherki Daula,"Imt Manesar, Gurugram",Holiday Inn,Sector 84 Road,Skyview Corporate Park
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,-7.960979,-15.652476,-15.652476,-3.149592,-2.966108,-3.147217,-3.726615,-10.231739,-15.652476,-6.023233,...,0.0,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.0,0.063888,0.063888
M3M Crown,-7.998993,0.063888,0.063888,0.328277,0.368941,-3.054053,-3.529275,0.090308,0.063888,-6.009941,...,0.0,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.0,0.063888,0.063888
Adani Brahma Samsara Vilasa,-7.276720,0.063888,0.063888,0.328277,-3.129124,-2.903557,0.280891,0.090308,0.063888,0.171073,...,0.0,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.0,0.063888,0.063888
Sobha City,-7.854539,0.063888,0.063888,0.328277,-2.857430,-3.054053,-3.430606,0.090308,0.063888,-5.916893,...,0.0,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.0,0.063888,0.063888
Signature Global City 93,0.128476,0.063888,0.063888,-2.985606,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.0,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.0,0.063888,0.063888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLF Princeton Estate,0.128476,0.063888,0.063888,0.328277,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.0,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.0,0.063888,0.063888
Pyramid Urban Homes 2,0.128476,0.063888,0.063888,0.328277,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.0,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.0,0.063888,0.063888
Satya The Hermitage,0.128476,0.063888,0.063888,0.328277,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.0,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.0,0.063888,0.063888
BPTP Spacio,0.128476,0.063888,0.063888,0.328277,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.0,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.0,0.063888,0.063888
SS The Coralwood,0.128476,0.063888,0.063888,0.328277,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.0,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.0,0.063888,0.063888

In [37]:
cosine_sim3 = cosine_similarity(location_df_normalized)

In [38]:
cosine_sim3.shape

(246, 246)

In [41]:
def recommend_properties_with_scores(property_name, top_n=247):
    
    cosine_sim_matrix = 30*cosine_sim1 + 20*cosine_sim2 + 8*cosine_sim3
    # cosine_sim_matrix = cosine_sim3
    
    # Get the similarity scores for the property using its name as the index
    sim_scores = list(enumerate(cosine_sim_matrix[location_df_normalized.index.get_loc(property_name)]))

    print(sim_scores)
    
    # Sort properties based on the similarity scores
    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the indices and scores of the top_n most similar properties
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]
    
    # Retrieve the names of the top properties using the indices
    top_properties = location_df_normalized.index[top_indices].tolist()
    
    # Create a dataframe with the results
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore': top_scores
    })
    
    return recommendations_df

# Test the recommender function using a property name
recommend_properties_with_scores('Ireo Victory Valley')

[(0, np.float64(8.67940474671015)), (1, np.float64(9.529422107881395)), (2, np.float64(1.9063230360427157)), (3, np.float64(8.928844279537898)), (4, np.float64(1.4733452772174154)), (5, np.float64(15.658830389148173)), (6, np.float64(8.643041134292707)), (7, np.float64(11.316133193634505)), (8, np.float64(-2.738278719954941)), (9, np.float64(4.829835982662244)), (10, np.float64(-3.9066008195826702)), (11, np.float64(-4.329390828418061)), (12, np.float64(-3.9408407683822197)), (13, np.float64(-4.546125203574216)), (14, np.float64(-7.24171847703138)), (15, np.float64(12.292912841862892)), (16, np.float64(8.660616544308601)), (17, np.float64(-7.643827788805829)), (18, np.float64(-9.03328792673062)), (19, np.float64(12.174722679934836)), (20, np.float64(18.438452311014593)), (21, np.float64(7.367770640620103)), (22, np.float64(9.569277514073873)), (23, np.float64(5.7529600023667715)), (24, np.float64(-0.7336418867689661)), (25, np.float64(13.673358489114495)), (26, np.float64(-4.236836589809966)), (27, np.float64(7.369707758245057)), (28, np.float64(0.31614101589997684)), (29, np.float64(8.609899120151523)), (30, np.float64(4.588147207473774)), (31, np.float64(-8.203226420314126)), (32, np.float64(-6.7132252330755975)), (33, np.float64(21.012589507685366)), (34, np.float64(-8.160896052629662)), (35, np.float64(2.4516096864332537)), (36, np.float64(-5.042541322612486)), (37, np.float64(6.648031512595658)), (38, np.float64(3.3858761933627286)), (39, np.float64(-1.5571950813995628)), (40, np.float64(2.8578909261573804)), (41, np.float64(3.5003091730499336)), (42, np.float64(17.973274268958743)), (43, np.float64(1.7456954705792556)), (44, np.float64(-5.758163813011335)), (45, np.float64(-3.9812583734234215)), (46, np.float64(5.799808152191282)), (47, np.float64(19.76044846991188)), (48, np.float64(7.405892784568893)), (49, np.float64(-4.13367593741127)), (50, np.float64(-4.146140776635066)), (51, np.float64(6.097428911288218)), (52, np.float64(8.30116977273708)), (53, np.float64(-0.8552558398422645)), (54, np.float64(1.2859701890718638)), (55, np.float64(24.205986368875482)), (56, np.float64(18.027190746517313)), (57, np.float64(9.41947338411575)), (58, np.float64(-3.4089859173257806)), (59, np.float64(23.41530834667564)), (60, np.float64(10.403836682643767)), (61, np.float64(-2.6730822425273706)), (62, np.float64(-15.148347052166491)), (63, np.float64(-4.031626486446091)), (64, np.float64(-8.64746920546912)), (65, np.float64(-6.716724436831742)), (66, np.float64(-6.390539746568621)), (67, np.float64(7.256382320874859)), (68, np.float64(-14.614188350445975)), (69, np.float64(1.1425874427602478)), (70, np.float64(7.693473575934627)), (71, np.float64(15.84586776244668)), (72, np.float64(-13.306539090008005)), (73, np.float64(9.023823367380077)), (74, np.float64(57.9999999999999)), (75, np.float64(0.10677697375769306)), (76, np.float64(13.275441364101159)), (77, np.float64(14.166250482124882)), (78, np.float64(2.7794216291009692)), (79, np.float64(12.860383586941458)), (80, np.float64(20.949912528369264)), (81, np.float64(18.03005043492807)), (82, np.float64(-5.465596209010999)), (83, np.float64(-1.0624383550741079)), (84, np.float64(-8.983079260831216)), (85, np.float64(16.14572259650948)), (86, np.float64(3.609319838151987)), (87, np.float64(-2.6245188876151353)), (88, np.float64(2.8816950894757105)), (89, np.float64(-5.514802595934435)), (90, np.float64(4.403402407041692)), (91, np.float64(7.287178841595797)), (92, np.float64(-14.735655694935748)), (93, np.float64(4.715385298778804)), (94, np.float64(-8.853026835234738)), (95, np.float64(7.674240028904027)), (96, np.float64(2.5912888510006638)), (97, np.float64(0.49686824046831674)), (98, np.float64(-4.923143257629437)), (99, np.float64(12.075227600411795)), (100, np.float64(-10.823616809248346)), (101, np.float64(7.94256954433996)), (102, np.float64(27.787912838642164)), (103, np.float64(-3.3189968614422445)), (104, np.float64(-2.511565954060159)), (105, np.float64(-13.761117127843711)), (106, np.float64(8.44290100617484)), (107, np.float64(-0.7001739877847356)), (108, np.float64(-14.495086083955607)), (109, np.float64(3.2385980834928545)), (110, np.float64(-4.498808414425247)), (111, np.float64(0.7701594407108393)), (112, np.float64(6.838803897469274)), (113, np.float64(-0.5388029455973657)), (114, np.float64(-5.704115271030941)), (115, np.float64(-8.262923524283766)), (116, np.float64(3.1783558686489695)), (117, np.float64(28.021459647414233)), (118, np.float64(13.03584485086003)), (119, np.float64(-1.791293246314594)), (120, np.float64(20.23139741084026)), (121, np.float64(1.527944631532765)), (122, np.float64(21.007839506427324)), (123, np.float64(5.222005128934044)), (124, np.float64(11.555537521103252)), (125, np.float64(-3.054485235150935)), (126, np.float64(4.753530802738204)), (127, np.float64(8.335843588406439)), (128, np.float64(-4.773528682400599)), (129, np.float64(0.7027060064373296)), (130, np.float64(7.623598149208783)), (131, np.float64(2.5076148818693613)), (132, np.float64(-12.064347614973997)), (133, np.float64(19.700157491423905)), (134, np.float64(-11.567486378162595)), (135, np.float64(-5.162997054069299)), (136, np.float64(-4.888998396513551)), (137, np.float64(0.9210345788550193)), (138, np.float64(-11.33398849916934)), (139, np.float64(-3.45869612254933)), (140, np.float64(3.287792700101878)), (141, np.float64(-10.29632522852121)), (142, np.float64(8.690439296298786)), (143, np.float64(9.46427320111504)), (144, np.float64(-2.1110204148033533)), (145, np.float64(11.600675748121551)), (146, np.float64(-14.40438779570795)), (147, np.float64(-14.501257811569165)), (148, np.float64(-14.336801281514214)), (149, np.float64(1.9213555266290288)), (150, np.float64(-0.6680564858542379)), (151, np.float64(-8.946543553732875)), (152, np.float64(-15.082228803879481)), (153, np.float64(-12.524846779231298)), (154, np.float64(10.04562932974694)), (155, np.float64(-12.567887592533069)), (156, np.float64(-4.875277789110778)), (157, np.float64(8.452856696443895)), (158, np.float64(7.171340098508927)), (159, np.float64(4.0117656265753245)), (160, np.float64(-11.254785641608478)), (161, np.float64(-1.6432901495184038)), (162, np.float64(-14.524897391483826)), (163, np.float64(7.689942266589111)), (164, np.float64(3.3568196440746068)), (165, np.float64(7.011027959673063)), (166, np.float64(14.563300486548316)), (167, np.float64(10.761025309245447)), (168, np.float64(3.7158953617761306)), (169, np.float64(7.351732680608914)), (170, np.float64(5.788198846107909)), (171, np.float64(-3.656104276682451)), (172, np.float64(-0.3597050961956503)), (173, np.float64(-4.208120987026057)), (174, np.float64(-4.34334674849563)), (175, np.float64(11.846659498660742)), (176, np.float64(2.4791319170059167)), (177, np.float64(-12.510098493257205)), (178, np.float64(-10.656466415051773)), (179, np.float64(-12.472623193790543)), (180, np.float64(-15.673834357096965)), (181, np.float64(-1.7237650860968443)), (182, np.float64(13.30799175648185)), (183, np.float64(5.222758735285977)), (184, np.float64(0.7067334439726272)), (185, np.float64(-13.51117240938054)), (186, np.float64(10.586411929494204)), (187, np.float64(12.695332984472323)), (188, np.float64(13.487663945017525)), (189, np.float64(1.9724088604655652)), (190, np.float64(-10.973941046445079)), (191, np.float64(0.9294397551226292)), (192, np.float64(6.250238605221697)), (193, np.float64(-14.515742543229921)), (194, np.float64(4.208673197262873)), (195, np.float64(-0.10603586892794203)), (196, np.float64(5.761368169453883)), (197, np.float64(5.041953540671973)), (198, np.float64(-12.141192055107922)), (199, np.float64(2.668825560867157)), (200, np.float64(6.452673600742935)), (201, np.float64(-0.2780162993069654)), (202, np.float64(1.2697940028220842)), (203, np.float64(-12.10896494883449)), (204, np.float64(-9.78295996943318)), (205, np.float64(3.6585437959203047)), (206, np.float64(-9.185189972435415)), (207, np.float64(-12.824088859173564)), (208, np.float64(-11.848727318668853)), (209, np.float64(1.574132509280776)), (210, np.float64(-9.953146662888898)), (211, np.float64(-8.180800669378847)), (212, np.float64(-2.837393855480425)), (213, np.float64(7.238708427070981)), (214, np.float64(-9.247686299688116)), (215, np.float64(-8.221307362354805)), (216, np.float64(-8.762753194870006)), (217, np.float64(-10.013527729120458)), (218, np.float64(-11.08891810862814)), (219, np.float64(6.4732763411401075)), (220, np.float64(-7.537457908339363)), (221, np.float64(-11.221251476155013)), (222, np.float64(-0.7265163303519998)), (223, np.float64(-14.923561309041695)), (224, np.float64(-12.276355624130423)), (225, np.float64(2.9452398189401476)), (226, np.float64(-4.8918748620609644)), (227, np.float64(-3.5841670974140567)), (228, np.float64(-14.199391120246244)), (229, np.float64(-6.350279483723706)), (230, np.float64(4.5807210585511235)), (231, np.float64(5.081951310598634)), (232, np.float64(-0.23114509936004676)), (233, np.float64(9.933724093017421)), (234, np.float64(10.767359563116768)), (235, np.float64(4.751043284893688)), (236, np.float64(8.32882646654764)), (237, np.float64(6.984108434011047)), (238, np.float64(13.285013448668566)), (239, np.float64(6.184894834586459)), (240, np.float64(-12.06282502572715)), (241, np.float64(-5.018102213197876)), (242, np.float64(-4.5600598741323655)), (243, np.float64(16.73201644647932)), (244, np.float64(-5.0226582477527)), (245, np.float64(0.012629082210094067))]

               PropertyName  SimilarityScore
0    Pioneer Urban Presidia        28.021460
1        Ambience Creacions        27.787913
2             DLF The Crest        24.205986
3             Pioneer Araya        23.415308
4               SS The Leaf        21.012590
..                      ...              ...
240          JMS The Nation       -14.735656
241     Shree Vardhman City       -14.923561
242          JMS Prime Land       -15.082229
243       Vatika Aspiration       -15.148347
244           Corona Greens       -15.673834

[245 rows x 2 columns]

In [42]:
(3*cosine_sim3 + 5*cosine_sim2 + 6*cosine_sim1).shape

(246, 246)

In [47]:
import pickle
with open('C:/Users/abhil/OneDrive/Desktop/Real_Estate_Project/Real_Estate_ML_Project/app/datasets/cosine_sim1.pkl','wb') as fo:
    pickle.dump(cosine_sim1,fo)

In [49]:
with open('C:/Users/abhil/OneDrive/Desktop/Real_Estate_Project/Real_Estate_ML_Project/app/datasets/cosine_sim2.pkl','wb') as fo:
    pickle.dump(cosine_sim2,fo)
with open('C:/Users/abhil/OneDrive/Desktop/Real_Estate_Project/Real_Estate_ML_Project/app/datasets/cosine_sim3.pkl','wb') as fo:
    pickle.dump(cosine_sim3,fo)

In [50]:
with open('C:/Users/abhil/OneDrive/Desktop/Real_Estate_Project/Real_Estate_ML_Project/app/datasets/location_df.pkl','wb') as fo:
    pickle.dump(location_df,fo)