In [1]:
import pandas as pd
import numpy as np
import pickle

In [3]:
with open('C:/Users/abhil/OneDrive/Desktop/real_estate_project/Real_Estate_ML_Project/models/xg_boost_pipeline.pkl','rb') as f:
    model = pickle.load(f)

In [4]:
with open('C:/Users/abhil/OneDrive/Desktop/real_estate_project/Real_Estate_ML_Project/data/final_x_train/final_x_train.pkl','rb') as fo:
    X = pickle.load(fo)

In [5]:
X.columns

Index(['property_type', 'sector', 'bedRoom', 'bathroom', 'balcony',
       'agePossession', 'built_up_area', 'servant room', 'store room',
       'furnishing_type', 'luxury_category', 'floor_category'],
      dtype='object')

In [6]:
X.iloc[0]

property_type               flat
sector                 sector 36
bedRoom                        3
bathroom                       2
balcony                        2
agePossession       New Property
built_up_area              850.0
servant room                   0
store room                     0
furnishing_type    semifurnished
luxury_category              Low
floor_category         Low Floor
Name: 0, dtype: object

In [61]:
X['agePossession'].value_counts()

agePossession
Relatively New        1637
New Property           593
Moderately Old         563
Undefined              320
Old Property           301
Under Construction     281
Name: count, dtype: int64

In [66]:
#data = [['flat','sector 77',4,4,'3+','New Property',2561,0,0,'semifurnished','High','High Floor']]
data = [['flat', 'sector 36', 3, 2, '3', 'Relatively New', 1081, 0, 0, 'unfurnished', 'Low', 'Low Floor']]

In [67]:
one_df = pd.DataFrame(data,columns=X.columns)

In [68]:
one_df

,property_type,sector,bedRoom,bathroom,balcony,agePossession,built_up_area,servant room,store room,furnishing_type,luxury_category,floor_category
0,flat,sector 36,3,2,3,Relatively New,1081,0,0,unfurnished,Low,Low Floor

In [69]:
np.expm1(model.predict(one_df))

array([0.875757], dtype=float32)